:root {
  --blueAccent50: #146dea;
  --blueAccent100: #0080ff;
  --blueAccent500: #008eff;
  --blueAccent600: #279fff;
  --blueAccent700: #56b0ff;

  --lightAccent000: #262626;
  --lightAccent100: #262626;
  --lightAccent200: #434343;
  --lightAccent300: #555555;
  --lightAccent400: #555555;
}

::selection {
  background-color: #146dea90;
}

#snackbarMessage,
.helperText,
body,
button.dialogOverlay,
button.menu,
button.menuDropdown,
button.navButton,
button.primaryButton,
html,
input,
select,
span.buttonHeading,
textaread {
  color: white;
}

select {
  background-color: var(--lightAccent000);
}

progress::-webkit-progress-bar {
  background-color: var(--lightAccent200);
}

button.menuDropdown:disabled {
  opacity: 25%;
}

img.menu {
  filter: invert(100%);
}

img.reducedIntensity {
  filter: invert(100%);
  opacity: 75%;
}

button.appSection:hover {
  img.appSection {
    filter: brightness(100%);
  }
}

div.dialogOverlay {
  border-color: var(--lightAccent200);
  box-shadow: 1px 1px 10px 1px var(--lightAccent200);
}

#dialogFocusBackground {
  background-color: rgba(0, 0, 0, 0.25);
}
