iframe {
  border-color: var(--lightAccent300);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

#imageView {
  height: 100%;
  width: 100%;
}

#textView {
  border-color: var(--lightAccent300);
  border-radius: 5px;
  border-width: 1px;
  font-size: 14px;
  height: 430px;
  margin-top: 5px;
  max-width: 100%;
  min-width: 100%;
  overflow-y: auto;
  padding-left: 5px;
  word-wrap: break-word;
}

#textView:focus {
  outline-style: none;
}

#videoView {
  border-color: var(--lightAccent300);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 100%;
}

/* Height dynamically set within index.js */
#wordDocumentView {
  background-color: var(--lightAccent000);
  border-color: var(--lightAccent300);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 10px;
  user-select: text;
  width: 100%;
  word-break: break-word;
}

#markdownFileView {
  background-color: var(--lightAccent000);
  border-color: var(--lightAccent300);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  height: 500px;
  overflow: auto;
  padding-left: 10px;
  user-select: text;
  width: 475px;
}

code {
  color: var(--blueAccent600);
}

/* Height dynamically set within index.js */
#codeFileView {
  margin-top: 5px;
  width: 100%;
  z-index: 0;
}

#customEmbedViewer {
  height: 100%;
  width: 100%;
}

/* Height dynamically set within index.js */
#anotherNoteView {
  border-color: var(--lightAccent300);
  overflow: auto;
  user-select: text;
  word-wrap: break-word;
}
